---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Index/Header.astro";
import Info from "../components/Index/Info.astro";
import Partner from "../components/Index/Partner.astro";
import Gallery from "../components/Index/Gallery.astro";
import Social from "../components/Index/Social.astro";
import Registration from "../components/Index/Registration.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Trail Nocturne Touchois">
	<Header />
	<main>
		<Info />
		<Registration />
		<Gallery />
		<Partner />
		<Social />
	</main>
	<Footer />
</Layout>

<script>
	// import * as amplitude from '@amplitude/analytics-browser';
	// amplitude.init('e321a1d48c8cc3e3603810646b1a7556');
</script>
