---
import Anchor from "../Anchor.astro";
---

<section class="container" id="info">
	<h2>Rendez-vous en <strong>2023</strong>&nbsp;!</h2>
	<div class="header__text">
		<div>
			<h3>Le TNT, c'est quoi&nbsp;?</h3>
			<p>
				Le TNT est un Trail de nuit organisé par le club "Les Touches
				Running". Les parcours 12km et 24km empruntent les routes et
				chemins de la commune des Touches.
			</p>
			<h3>Informations importantes</h3>
			<ul>
				<li>
					Un échauffement animé est prévu avant le départ du 12km.
					Plusieurs animations le long du parcours.
				</li>
				<li>
					L’arrivée se fait en salle avec bar et restauration sur
					place
				</li>
				<li>Une lampe frontale est à prévoir.</li>
				<li>
					Un t-shirt manches longues est remis à chaque coureur lors
					de la remise du dossard
				</li>
				<li>Une consigne est prévue sur place.</li>
			</ul>
			<h3>Quand s'inscrire&nbsp;?</h3>
			<p>
				Ouverture des inscriptions le <strong>24 juin 2023</strong> et clôture
				des inscription le <strong>22 novembre 2023</strong>
				ou lorsque les 800 premiers dossiers complets seront atteints. Majoration
				+2€ pour le 12km et +1€ pour le 24km à partir du 01 Novembre 2023.
			</p>
			<h3>Remise des dossards</h3>
			<p>
				Les dossards seront remis aux coureurs le mercredi 22 novembre
				2023 de 16h à 19h chez notre partenaire V&B les Touches et le
				vendredi 24 novembre 2023 à partir de 17h chez SPORT 2000 Le
				samedi 25 novembre 2023 à partir de 17h00. Au moment du retrait,
				le concurrent devra montrer une pièce d’identité pour rentrer
				dans le complexe.<br />
			</p>

			<div class="header__btn">
				<Anchor black href="/file/Reglement_TNT2023.pdf">
					Voir le réglement 2023
				</Anchor>
				<Anchor black href="/file/classement_TNT_2021.pdf">
					Classement général 2021
				</Anchor>
				<Anchor
					black
					href="file/classement_TNT_2021__PAR CATEGORIES__.pdf"
				>
					Classement par catégories 2021
				</Anchor>
			</div>
		</div>
	</div>
</section>

<style>
	.header__btn {
		display: flex;
		flex-wrap: wrap;
		gap: 1.2rem;
		margin-top: 2em;
	}
	h3 {
		margin-block: 1.2rem 0.5rem;
	}
	li {
		list-style: disc;
		margin-inline-start: 1em;
		padding-inline-start: 0.5em;
	}
</style>
