<section class="container" id="video">
	<h2>Vidéo de la <strong>8ème édition</strong></h2>
	<iframe
		width="560"
		height="315"
		src="https://www.youtube.com/embed/-3kyp5AVwKI"
		title="YouTube video player"
		frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		allowfullscreen></iframe>
</section>

<style>
	section {
		padding-block: 35px;
	}
	iframe {
		margin-top: 1.5rem;
		width: 100%;
		aspect-ratio: 16/9;
	}
</style>
